
mixin slider-employees(className)
  div(class=`wrapper-slider-employees ${className}`)
    .slider-employees.swiper.js-slider-employees
      .swiper-wrapper
        +swiper-slide('Сергей Данилов', 'директор по работе с партнерами', 'В «ПМК» я работаю с марта 2019 года и прошел путь от менеджера до директора отдела по работе с партнерами. Секрет моего успеха в том, что работа приносит мне удовольствие. Для меня важно работать в команде единомышленников, а коллектив «ПМК» - это большая дружная семья, где каждый поддержит и поможет, когда это необходимо. Что еще очень важно – здесь к мнению сотрудников действительно прислушиваются. Все это позволяет мне развивать свои профессиональные компетенции каждый день. «ПМК» - это команда, и нас не остановить!', 'img-slide-employees-1', 'img-slide-employees-1-mob')
        +swiper-slide('Анастасия Тюкова', 'маркетолог', 'Рабочие будни в «ПМК» не бывают унылыми и вялыми – каждый день мы решаем самые разные задачи, поэтому постоянно учимся новому: в продажах, маркетинге и, конечно, медицине. Удобный рабочий график, современный офис, где созданы все условия для работы и отдыха сотрудников, достойная зарплата – все это дает желание делать больше и лучше. Кроме совместной работы мы еще и отлично отдыхаем! Дни рождения, Новый год, корпоративы проходят всегда весело и с душой. Я благодарна «ПМК» за возможность самореализации, профессионального роста, а также за людей, с которыми работаю.', 'img-slide-employees-2', 'img-slide-employees-2-mob')
        +swiper-slide('Алина Самсонова', 'руководитель отдела логистики', 'Я работаю в компании «ПМК» меньше года – и радуюсь этому каждый день! Здесь у меня есть все возможности повышать свои профессиональные навыки, а работать в дружном и сплочённом коллективе – отдельное удовольствие. Мне очень нравится, что в «ПМК» развита корпоративная культура – она позволяет всегда быть на позитиве. Руководство компании грамотно выстраивает работу каждого сотрудника, всегда открыто для решения рабочих вопросов: человеческое отношение к каждому сотруднику и правильная мотивация – это большая ценность в «ПМК».', 'img-slide-employees-3', 'img-slide-employees-3-mob')

      .swiper-pagination
      .swiper-button-prev
        +icon('icon_arrow-prev')
      .swiper-button-next
        +icon('icon_arrow-next')


mixin swiper-slide(author, position, content, imgAuthor, imgAuthorMob)
  .swiper-slide.slider-employees__item
    .slider-employees__content
      .slider-employees__author= author
      .slider-employees__position= position
      .slider-employees__text= content
    .slider-employees__img
      picture
        source(media="(min-width: 575px)" srcset=`img/${imgAuthor}.webp 1x` type="image/webp")
        source(media="(max-width: 576px)" srcset=`img/${imgAuthorMob}.webp 1x` type="image/webp")
        img(src=`img/${imgAuthor}.webp` loading="lazy" alt="")
